{{ form_errors(form) }}

<div class="row">
    {{ form_start(form) }}
    <div class="col-12 cover-preview"></div>

    <div class="col-12">
        {{ form_row(form.title) }}
    </div>

    <div class="col-12">
        {{ form_row(form.coverPictureFile) }}
    </div>
    <div class="col-12">
        {{ form_row(form.description) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.category) }}
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Créer la campagne</button>
    </div>
    {{ form_end(form) }}
</div>